/* .register_form{
    width: 20rem;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
  

}

code{
 font-size: 30px;

}

.login_form{
    width: 20rem;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;

}

.login{
    text-align: center;
}


 */
